.contents_area {
    position: relative;
    top: 382px;
    left: 0px;
    overflow:auto; 
    padding: 60px 0px;
    
}

.inner {
    width: 1200px;
    margin: 0 auto;
    background-color: azure;
}

/* 좌측 메뉴 */

.left_area {
    width: 230px;
    margin-right: 70px;
    background-color: white;
    /* position: relative; */
    float: left;
}

#menuUIsub .menuSubTitleUI h2 {
    padding-bottom: 20px;
    font-size: 32px;
    color: #333;
    line-height: 35px;
}

#menuUIsub .ulist {
    border-top: 2px solid #222;
    border-bottom: 3px solid #d4d4d4;
}

li {
    display: list-item;
}

a {
    text-decoration: none;
}

#menuUIsub .a_2 {
    padding: 15px 20px;
    display: block;
    font-size: 18px;
    color: #555;
}

#menuUIsub .li_2 {
    border-top: 1px solid #d7d7d7;
}

#menuUIsub .li_2:first-child {
    border-top: none;
}

#menuUIsub .sub_GNB_ul {
    padding: 0 10px;
    background-color: #f2f3f4;
}

#menuUIsub .a_3 {
    padding: 15px 10px;
    display: block;
    font-size: 16px;
    color: #767676;
}

#menuUIsub .li_3 {
    border-top: 1px solid #e2e4e5;
}

#menuUIsub .li_3:first-child {
    border-top: none;
}

#menuUIsub .a_3._active {
    background: url('https://www.sungshin.ac.kr/sites/knowledge_02_tem05/masterSkin/knowledge_02_tem05_sub/images/common/ico_lnb_arrow_right.png') 100% 50% no-repeat;
    color: #555;
    /* font-family: 'noto-medium', dotum, Arial, sans-serif; */
    font-weight: 600;
}

#menuUIsub .li_2._useChildDiv .a_2 {
    color: #60609f;
    font-weight: 600;
    background: url('https://www.sungshin.ac.kr/sites/knowledge_02_tem05/masterSkin/knowledge_02_tem05_sub/images/common/ico_lnb_arrow_down.png') 95% 50% no-repeat;
}
/* 자식 토글 없고 활성화된 상태 */
#menuUIsub .li_2._active .a_2 {
    color: #60609f;
    font-weight: 600;
    background: url('https://www.sungshin.ac.kr/sites/knowledge_02_tem05/masterSkin/knowledge_02_tem05_sub/images/common/ico_lnb_arrow_up_1d.png') 95% 50% no-repeat;
}

.title {
    margin-bottom: 40px;
    font-size: 40px;
    color: #3b3c40;
    line-height: 45px;
}

.contents {
    float: left;
}

#contentsEditHtml {
    width: 900px;
}

.bullet_area.dot_round {
    padding-left: 30px;
    position: relative;
    line-height: 20pt;
    font-size: 12pt;
}

.bullet_area.dot_round::before {
    width: 18px;
    height: 18px;
    border: 4px solid #60609f;
    border-radius: 50%;
    background-color: #fff;
}

.bullet_area::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    float: left;
    left: 0;
}

.bullet_area.dot_round dt {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
    font-weight: 600;
}

dt {
    display: block;
}

.organization_img {
    width: 700px;
    height: 389px;
    vertical-align: baseline;
}